<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/thymeleaf.png}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <form class="d-flex" action="/search-result">
                    <input type="text" placeholder="Search" aria-label="Search" name="track" required>
                    <input type="submit" value="Search" class="btn btn-primary">
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Random songs</th>
                <th scope="col">Random artists</th>
                <th scope="col">Random genre</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="music: ${music}">
                <td th:text="${music.getSongs()}"></td>
                <td th:text="${music.getArtists()}"></td>
                <td th:text="${music.getGenre()}"></td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

</body>
</html>
