<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>View customer</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/thymeleaf.png}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li>
                <form class="d-flex" action="/search-result">
                    <input type="text" placeholder="Search" aria-label="Search" name="track" required>
                    <input type="submit" value="Search" class="btn btn-primary">
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container inner-padded">
    <div class="row justify-content-center align-items-center">
        <h1 class="display-3">Details</h1>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-3">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <h5>
                    Search result for: <span th:text="${search}"></span>
                </h5>
                <table class="table">
                    <tr>
                        <td><span style="font-weight:bold">Track</span></td>
                        <td><span style="font-weight:bold">Artist</span></td>
                        <td><span style="font-weight:bold">Album</span></td>
                        <td><span style="font-weight:bold">Genre</span></td>

                    </tr>
                    <tr th:each="tracks: ${tracks}">
                            <td th:text="${tracks.getSongs()}"></td>
                            <td th:text="${tracks.getArtists()}"></td>
                            <td th:text="${tracks.getAlbum()}"></td>
                            <td th:text="${tracks.getGenre()}"></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

</body>
</html>
